{{ define "main" }}
{{ $featureimage := resources.GetMatch .Params.featureimage }}
{{ $featuredcaption := .Params.caption }}
{{ $date := .Date | time.Format ":date_medium" }}
{{ $DPT := printf "%s - %d minute read" $date .ReadingTime }}


<div class="justify-left mx-auto mt-8 flex max-w-screen-md px-4">
  <article>
    <h1 class="text-4xl font-extrabold text-slate-700 dark:text-slate-200">
      {{ .Title | emojify }}
    </h1>
      <div>
        <h2 class="mt-4 text-2xl text-slate-500 dark:text-slate-400">
          {{ .Params.subtitle | emojify }}
        </h2>
        <div class="flex justify-between items-center">
          <!-- Date and reading time -->
          <div class="mb-4 mt-2 text-sm text-slate-500 dark:text-slate-400">
            {{ $DPT }}
          </div>

          <!-- Container for list of links to documents, github, ... -->
          {{ if .Params.Links }}
          <div class="flex justify-between flex-wrap">
            {{ range $links := .Params.Links }}
              {{ range $type, $meta := $links }}
                {{ $href := "" }}
                {{ $label := "" }}
                {{ $typeOfMeta := printf "%T" $meta }}
                {{ if eq $typeOfMeta "string" }}
                  {{ $href = $meta }}
                  {{ $label = $type }}
                {{ else }}
                  {{ $href = $meta.url }}
                  {{ $label = $meta.label | default $type }}
                {{ end }}
                <!-- Link panel with label and icon -->
                 {{ partial "btn_link.html" (dict 
                  "icon" $type 
                  "href" $href 
                  "label" $label) }}
              {{ end }}
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>


    {{ with $featureimage }}
    {{ $featureimage = $featureimage.Filter (images.Process "resize 736x Lanczos q100 webp" ) }}
    <div class="flex flex-col">
      <img class="mt-4 h-full w-full object-cover" src="{{ $featureimage.RelPermalink }}" alt="feature image"
        height="{{ $featureimage.Height }}" width="{{ $featureimage.Width }}" />
      {{ with $featuredcaption }}
      <span class="mb-4 mt-1 text-center text-sm text-slate-700 dark:text-slate-200">
        {{ $featuredcaption | markdownify | emojify }}
      </span>
      {{ end }}
    </div>
    {{ end }}


    <span
      class="prose prose-slate break-words text-lg text-slate-700 dark:prose-invert prose-pre:max-w-[90vw] md:prose-pre:max-w-screen-md dark:text-slate-200">
      <h2>TLDR;</h2>
      {{ .Summary | emojify }}
      <br>

      {{ .Content }}
    </span>
  </article>
</div>
{{ end }}