{{/* 
  Reusable button component partial.
  Params expected in .icon, .href, .label
*/}}

{{ $icon := .icon }}
{{ $href := .href }}
{{ $label := .label }}

{{ $iconPath := resources.Get (print "icons/" $icon ".svg") }}
{{ with $iconPath }}
<!-- Link panel with label and icon -->
<a class="link flex" href="{{ $href }}" target="_blank" rel="me noopener noreferrer" aria-label="button">
    <span class="link_svg">{{ .Content | safeHTML }}</span>
    <span class="link_label text-lg text-slate-200 dark:text-slate-700">{{ $label }}</span>
</a>
{{ end }}